<html>
<body>
	<h1>Hello there, {{.Name}}</h1>
	{{if .IsLoggedIn}}
		<form method="POST" action="/logout/">
			<button type="submit">Logout</button>
		</form>
	{{else}}
		<a href="/">Login</a>
	{{end}}
</body>
</html>
